<p>How to Play:</p>

<div align="left">
<ul align="left">
<li> The aim of the game is to match the word to the animal</li>
<li> Click right to start the game</li>
<li>Click left to go back</li>


</ul>

</div>
