<p class="helpTitle"><strong>How to play:</strong></p>

<p>
    <img src="/images/leftButton.png"  class="backImage">
    <img src="/images/selectButton.png" class="selectImage">
    <img src="/images/rightButton.png"  class="forwardImage">
</p>

<p>
    <div class="backPosition">back</div>
    <div class="forwardPosition">forward</div>
</p>

