<p>
    <img src="/images/leftButton.png"  style="position: absolute;left: 95px;top: 140px; width:50px;height:50px" align="left">
    <img src="/images/circle.png"  style="width:50px;height:50px" align="center">
    <img src="/images/rightButton.png"  style="width:50px;height:50px" align="right">
</p>

<p style="position: absolute;left: 95px;top: 140px;">Change</p>
