
<div style="position:absolute; top:15px; left:50px; "><font size ="+2">SCORE</font></div>
<img src="/images/star.png" alt="star" style="width:50px;height:50px;position:absolute; top:0px; left:130px;">
<div style="position:absolute; top:10px; left:53px; width:200px; height:0px"><center><font size="+2" COLOR="000080"> {{ cumulativeScore }}</font></center></div>
</div>
<div style="position:absolute; top:80px; left:24px;font-family:Comic Sans MS, cursive, sans-serif"><bold><font size ="+3">Faunatastic</font></bold></div>
<div style="position:absolute; bottom: 0px;"><font size ="+1.5">Press any button to start!</font></div>
