<img src="/images/star.png" alt="star" />
<div style="position:absolute; top:70px; left:30px; width:200px; height:20px">
<center><font size="+2" COLOR="000080">5×</font></center>
</div>
<div>Press any key to start the game!</div>
