<div>What animal is this?</div>

<img src="/images/{{ animal }}.png" alt="{{ animal }}" />

<div class='tick'> 
<img src="/images/tick.png" alt="tick" />
</div>

<div class='cross'>
<img src="/images/cross.png" alt="cross" />
</div>

<div class="tick">
  {{#if answered}}
    <img src="{{imgURL}}" />
  {{/if}}
</div>

<p>
 < {{ answer }} >
</p>
